#woocommerce-product-data ul.wc-tabs li.sq_specification_tab_options a:before 
{ 
    font-family: WooCommerce; content: '\e02b'; 
}
#woocommerce-product-data ul.wc-tabs li.sq_comparison_tab_options a:before 
{ 
    font-family: WooCommerce; content: '\e01f'; 
}
.sq_specs_admin_tab_table
{
    width: 100%;
}
.sq_specs_admin_tab_table th
{
    text-align: left;
    padding: 5px;
    background-color: #f1f1f1;
}
.sq_specs_admin_tab_table td
{
    padding: 5px;
}
.sq_specs_admin_tab_table_name
{
    width: 30%;
}
.sq_specs_admin_tab_table_value
{
    width: 40%;
}
.sq_specs_admin_tab_table_product_data
{
    width: 20%;
}
.sq_specs_admin_tab_table_product_actions
{
    width: 10%;
}
.sq_specs_admin_tab_table input[type='text']
{
    width: 100% !important;
    padding: 5px;
}
.sq_specs_admin_tab_table select
{
    width: 100% !important;
}
#sq_specs_duplicator
{
    display: none;
}